<!DOCTYPE html>
<html>
  <head>
    <link rel=icon href=favicon.ico>
    <title>Snowy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  </head>

  <body>
    <!--
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>    
     -->
    <%= yield %>
  </body>
</html>
